@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
  background-color: #007acc;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.hero__title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #003298;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
          animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #0051f4;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}


body {
  font-family: Arial, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  background-color: beige;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 5fr 0.3fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-items: stretch;
}

.Titulua {
  grid-area: 1 / 1 / 1 / 3;
  background-color: #007acc;
  color: #fff;
  text-align: right;
  padding: 1%;
  display: flex;
  align-items: center;
}

.Menua-titulua{
  color: #fff;
  position: absolute;
  top: 60%;
  right: 25%;
  font-size: 150%;
  z-index: 1;
}

* {
  padding: 0px;
  margin: 0px;
}

.Menua {
  grid-area: 1 / 1 / 1 / 3;
  padding: 1.5%;
}

ul, ol {
  list-style: none;
}

.nav li a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav li a:hover {
  background-color: #434343;
}

.nav > li {
  float: right;
}

.nav li ul {
  display: none ;
  position: relative;
  min-width: 140px;
  margin-right: 20%;
}

.nav li:hover > ul {
  display: block;
}

/*----------Enpresari buruz----------*/
.EBuruz {
  grid-area: 2 / 1 / 3 / 3;
  text-align: justify;
  font-size: 20px;
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.EBuruz img{
  height: auto;
  width: 100%;
  max-width: 650px;
  margin: 5%;
}

.EBuruz h1 {
  text-align: center;
  font-size: 50px;
}

.Alboko-textua {
  width: 100%;
  margin:5%;
}


/*----------Langileak----------*/

.Taldekideak {
  grid-area: 2 / 1 / 3 / 3;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.Taldekideak img {
  height: auto;
  width: 100%;
  margin: 5%;
}

/*----------Kontaktua----------*/

.Kontaktua h1 {
  font-size: 500%;
  text-align: center;
  margin-left: 10%;
}
.Kontaktua {
  grid-area: 2 / 1 / 2 / 3;
  text-align: left;
  font-size: 100%;
  display: flex;
  flex-direction: row;
}

.Kontaktua img {
  width: 5%;
  margin-left: 30%;
}


form {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/*----------Ezaugarriak eta abantailak----------*/

.Ezaugarriak-eta-Abantailak {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-direction: column;
}

.Ezaugarriak {
  margin: 20px;
  text-align: justify;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.Ezaugarriak h2 {
  text-align: center;
}

.Abantailak {
  margin: 20px;
  text-align: justify;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.Abantailak h2 {
  text-align: center;
}


.Orri-oina {
  grid-area: 3 / 1 / 4 / 3;
  background-color: #007acc;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}





@media all and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 4.5fr 1fr;
  }

  .Titulua {
    grid-area: 1 / 1 / 1 / 1;
  }

  .Menua-titulua {
    padding: 5px;
  }

  .nav {
    float: right;
    padding-top: 7.5%;
    padding-right: 3%;
  }

  .nav > li {
    float: none;
    width: 100%;
  }

  .nav li ul {
    position: static;
    display: none;
    width: 100%;
  }

  .nav li:hover > ul {
    display: block;
  }

  .EBuruz {
    grid-area: 2 / 1 / 2 / 1;
    flex-direction: column;
  }

  .Orri-oina {
    grid-area: 3 / 1 / 3 / 1;
  }

  .EBuruz img{
    height: auto;
    width: 100%;
    max-width: unset;
    margin: 1%;
  }
  
  .side-text {
    margin: unset;
    padding: 0.5em;
  }

  .Kontaktua {
    grid-area: 2 / 1 / 2 / 1;
    font-size: 80%;
    flex-direction: column;
    padding-right: 9.5%;
  }

  .Taldekideak {
    grid-area: 2 / 1 / 2 / 1;
    flex-direction: column;
    max-width: 600px;
  }

  .Ezaugarriak {
    flex-direction: column;
  }

  .Abantailak {
    flex-direction: column;
  }

}